body {
  font-family: Arial, sans-serif;
  background-color: #ff9dd6;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background: rgb(255, 177, 225);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.city {
  display: flex;
  justify-content: space-between;
  background: #ffa8d4;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

h1 {
  color: #333;
}

footer {
  margin-top: 20px;
  font-size: 14px;
}
